body{
    font-family: 'Open Sans',sans-serif;
}
#root{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#container-lvl1{
    display: flex;
    justify-content: center;
    height: 70px;
    border-color: #eeeeed;
    border-style: solid;
    border-width: 0 0 thin 0;
}
#icon{
    width: 15%;
}
#search-window{
    width: 65%;
    min-width: 400px;
    height: 50%;
    margin:auto 0;
    text-align: center;
}
#options{
    width: 20%;
}
#search-input{
    width: 80%;
    height: 100%;
    font-size: large;
    outline: none;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    background-color: #eeeeed;
    font-family: "Open Sans", sans-serif;
    border: 0 solid;
    border-radius: 5px;
    color: #f08282;
}
#options{
    display: flex;
    flex-direction: row-reverse;
}
.option{
    color: #263238;
    margin: auto 20px;
}
.option:hover{
    cursor: pointer;
}
#username{
    font-family: "Open Sans", sans-serif;
    margin-left: 15px;
    font-size: large;
    color: #212121;
}
#container-lvl2{
    display: flex;
    flex-direction: row;
}
#side-bar,#right-bar{
    padding-top: 20px;
    height: 99%;
    display: flex;
    flex-direction: column;
}
#side-bar{
    width: 15%;
    min-width: 200px;
}
#right-bar{
    width: 20%;
}

.sidebar-obj{
    padding: 7px 10px;
    margin: 0 5px;
    border-radius: 0 100px 100px 0;
    color: #37474F;
}
.sidebar-obj:hover{
    cursor: pointer;
}
#middle-bar{
    width: 65%;
    height: 99%;
    margin-top: 5px;
    border-style: solid;
    border-color: #eeeeed;
    border-width: 0 thin;
    display: flex;
    flex-direction: column;
}

#settings-window{
    display: none;
    flex-direction: column;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}
.settings-obj{
    padding: 10px 5px 10px 60px;
    border-radius: 0 100px 100px 0;
    color: #37474F;
}
@keyframes show-settings {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes hide-settings {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
#sign-out:hover,#account:hover{
    cursor: pointer;
}
.flag-question{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 5px;
    width: 80%;
    border: thin solid #eeeeed;
    border-radius: 5px;
}

.title{
    font-size: xx-large;
    padding: 5px 5px 20px 5px;
    font-weight: bold;
    border-color: #448AFF;
}
.body{
    margin: 5px 5px 5px 30px;
    color: #37474F;
    word-break: break-word;
    max-width: 80%;
}
.date{
    text-align: right;
    font-size: small;
    margin-top: 10px;
}

.vote{
    margin: auto 10px;
}
.fa-flag:hover{
    cursor: pointer;
}
